* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: #f5f8ff;
    --max-width: 1140px;
    --black: #252432;
}

.container {
    max-width: 1440px;
    margin-inline: auto;
    font-family: "Raleway", sans-serif;
}

.hero-bg {
    background-image: url(./images/heroBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    visibility: 25%;
    margin-top: 60px;
}

.hero-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin-inline: auto;
    height: 151px;
}
.hero-logo-container h1 {
    font-size: 34px;
    font-weight: 900;
    min-width: 99px;
    min-height: 51px;
    color: #4E47FF;
}

.hero-logo-container button {
    background-color: #4E47FF;
    color: #fff;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-logo-container button:hover {
    background-color: #3730a3;
}
.hero-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    padding: 8%;
}
.hero-text-container h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 65px;
    max-width: 90%;
    color: var(--black);
}

.hero-text-container button {
    background-color: #4E47FF;
    color: #fff;
    padding-block: 12px;
    padding-inline: 36px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-text-container button:hover{
    background-color: #3730a3;
}

.conference-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin-inline: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}

.conference-left {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 23px;
}
.conference-left h2 {
    font-size: 42px;
    font-weight: bold;
}

.conference-left p {
    font-size: 24px;
    font-weight: 400;
    color: var(--black);
    line-height: 30px;
    letter-spacing: 0%;
    opacity: 50%;
}

.conf-preview-button {
    background-color: #4E47FF;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    border-radius: 10px;
    padding-block: 12px;
    padding-inline: 36px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.conf-preview-button:hover{
    background-color: #3730a3;
}

.conference-img {
    border-radius: 48px;
    /* overflow: hidden; */
}
.counting-section {
    display: flex;
    max-width: var(--max-width);
    flex-direction: column;
    align-items: center;
    background-color: rgba(78, 71, 255, 0.1);
    margin-inline: auto;
    border-radius: 24px;
    padding-block: 50px;
    padding-inline: 80px;
    gap: 40px;

}
.counting-section h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 100%;
    color: var(--black);
}

.counting-numbers {
    display: flex;
    gap: 158px;
    font-family: sans-serif;
}

.active-users-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.number {
    color: #4E47FF;
    font-size: 80px;
    font-weight: 700;
}

.plate {
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.5);

}

.sessions-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.rate-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.rating-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    max-width: var(--max-width);
    margin-inline: auto;
    margin-top: 137px;
}
.rating-heading {
    font-size: 42px;
    font-weight: 700;
    color: var(--black);
}

.reviewer-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.reviewer {
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #F2EDED;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    min-width: 240px;
    padding: 24px;
    gap: 24px;
    border-radius: 14px;
}

.rating-stars {
    display: flex;
}

.reviewer .heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -2%;
    color: #1E1E1E;
}

.reviewer .review {
    font-size: 16px;
    font-weight: normal;
    line-height: 120%;
    color: #1E1E1E;
}

.avatar-section {
    display: flex;
    gap: 12px;
}

.avatar-section img {
    object-fit: cover;
    border-radius: 50%;
}

.avatar-section .reviewer-name {
    font-family: sans-serif;
    font-weight: 600;
    color: #757575;
    line-height: 140%;
    letter-spacing: 0%;
    font-size: 16px;
}

.avatar-section .reviewer-date {
    font-family: sans-serif;
    font-weight: 400;
    color: #B3B3B3;
    line-height: 140%;
    letter-spacing: 0%;
    font-size: 16px;
}

.focus-section {
    margin-top: 91px;
    background-color: #FFF;
    padding-block: 71px;
    padding-inline: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--max-width);
    margin-inline: auto;
    gap: 20px;
    border-radius: 14px;
}

.focus-section .heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #000;
}

.focus-section .para {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
}

.get-started-btn {
    position: relative;
    z-index: 1;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: rgba(78, 71, 255, 1);
    border:1px solid rgb(105, 101, 222);
    border-radius: 16px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    cursor: pointer;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.get-started-btn:hover {
    background-color: #3730a3;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 10%;
    background-color: #f1f4fd;
    flex-wrap: wrap;
}

.contact-text {
    flex: 1;
    color: #000 ;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-form {
    
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-form input,
.contact-form textarea {
    padding-block:20px ;
    color: rgba(0, 0, 0, 0.5);
    font-family:sans-serif;
    padding-inline: 32px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
}

.contact-form textarea {
    resize: vertical;
    height: 120px;
}

.contact-form button {
    background-color: #4f46e5;
    color: #fff;
    border: none;
    padding: 14px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #3730a3;
}

.footer {
    text-align: center;
    padding: 60px 20px;
    background-color: #fff;
    border-top:1px solid rgba(0, 0, 0, 0.1);
    line-height: 40px;
}

.footer p {
    color: rgba(137, 135, 161, 1);
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.6;
}

.footer nav a {
    margin: 0 10px;
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
    font-weight: 500;
}

.footer nav a:hover {
    color: #4f46e5;
}

@media (max-width: 768px) {
    .hero-bg{
        margin-inline: auto;
    }

    .contact-section {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .contact-text {
        font-size: 2rem;
    }
}